
.ocultar{
    display: none;
	visibility: hidden;
}
body{ 
	background-color:black;
	/* background: #1D1818; */
	/* background-image: url("../images/fondo3.jpg");
	background-repeat: no-repeat; */
	overflow-x: hidden;
}
/* navBar */
.ulLinks li a{
	text-decoration: none;
	color: beige;
}
.ulLinks li a:hover{
	color: rgb(255, 153, 0);
}
nav ul{
	display: none;
}
ul li button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
  
nav input:checked  ~ .ulLinks{
	display: inline-block;
	position: absolute;
	animation: mostrarUls .8s;
	animation-fill-mode: forwards;
	margin-top: 2.8%;
}

.mostrarUl{
    animation-name: mostrarUls;

}
@keyframes mostrarUls{
    0%{
		/* width: 45%;
		height: 45%; */
		width: 3%;
		height: 5%;
		/* margin-top: 0%; */
	}
    100%{
		/* width: 25%;
		height: 30%; */
		width: 15%;
		height: 35%;
		/* margin-top: 5%; */

	}
}
nav input {
	display: none;
	margin-top: 20px;
	margin-left: 5%;
}
nav{
	background-color: rgb(31, 29, 29);
	height: 6%;
	opacity: 0.8; 
}
nav label {
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid black;
	border-radius: 15px;
	width: 3%;
	height: 75%;
	line-height: 30px;
	font-weight: bold;
	text-align: center;
	user-select: none;
	margin-top: 0.3%;
	margin-left: 1%;
	text-align: center;
	color: #fff;
}
nav li {
	display: block;
	background: rgb(0, 0, 0);
	color: #fff;
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid grey;
	opacity: 0.5; 
	border-radius: 8%;
  }

/* CONTENT */
.loadingDivText{
    margin-top: 20%;
}
.content{
	scroll-behavior: smooth;
	transform-style: preserve-3d;
	z-index: -100;
	background-color: black;

}

.home{
    background-image: url("../images/fondo3.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100% 100%;
	/* bottom: 100%; */
	position: relative;
}

.carrousel{
	/* background-image: url("../images/fondo3.jpg"); */
	 /* background-color: black; */
	width: 100%;
	height: 100vh; 
	opacity: 0;
	/* margin-top: 15%; */

}
.cards{
	background-color: rgb(0, 0, 0);
	/* width: 100%; */
	height: 100vh;
	/* opacity: 0; */
	margin-top: 10%;
	/* position: absolute; */
}
.imgCard {
	/* position: absolute; */
	/* width: 100%; */
	opacity: 0.5;
	height: 100%;
	/* width: 100%; */
}
.imgDarylCard{
	width: 33%;
	height: 100%;
	display: inline-block;
	/* position: relative; */

}
.imgNeganCard{
	width: 33%;
	height: 100%;
	display: inline-block;

}
.imgRickCard{
	width: 33%;
	height: 100%;
	display: inline-block;

}
.spanDaryl{
	position: absolute;
	margin-top: 42%;
	margin-left: 13%;
	font-size: 200%;
	color: #fff;
}
.spanRick{
	position: absolute;
	margin-top: 42%;
	margin-left: 13%;
	font-size: 200%;
	color: #fff;
}
.spanNegan{
	position: absolute;
	margin-top: 42%;
	margin-left: 13%;
	font-size: 200%;
	color: #fff;
}
.imgDarylCard:hover {	
	width: 37%;
	height: 90%;
	transition: all ease 1250ms;
	opacity: 1;
	transform: perspective(600px) rotateX(0deg) rotateY(2deg) rotateZ(0deg) translateX(-20px) translateY(0px) translateZ(10px);
	margin-left: 3%;
	/* box-shadow: 0 0 20px rgb(102, 101, 105); */
	box-shadow: 10px 6px 20px rgb(102, 101, 105);

	border-radius: 2%;

}
.imgRickCard:hover {	
	transition: all ease 1250ms;
	opacity: 1;
	transform: perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(10px) translateZ(0px);
	width: 38%;
	height: 90%;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 2%;
	box-shadow: 0 0 20px rgb(102, 101, 105);
}
.imgNeganCard:hover {	
	transition: all ease 1250ms;
	opacity: 1;
	transform: perspective(700px) rotateX(0deg) rotateY(-2deg) rotateZ(1deg) translateX(20px) translateY(0px) translateZ(10px);
	width: 30%;
	height: 90%;
	border-radius: 2%;
	margin-right: 2%; 
	/* box-shadow: 0 0 30px rgb(102, 101, 105); */
	box-shadow: 10px 6px 20px rgb(102, 101, 105);
}
  
.imgDarylCard:hover  ~ .imgNeganCard, .imgDarylCard:hover  ~  .imgRickCard{
	/* width: 25.5%; */
	width: 25.5%;
	/* opacity: 0; */
	margin-right: 1%; 
}

.imgRickCard:hover  ~ .imgNeganCard, .imgRickCard:hover  ~ .imgDarylCard{
	width: 25.5%;
}


 .imgNeganCard:hover  ~  .imgRickCard{
	width: 200px;
	/* width: 20px; */
	opacity: 0;
}
/* .imgRickCard:hover ~ .imgDarylCard{
	width: 20%;
} */

.imgCarousel{
	margin-top: 100px;
	height: 550px;
	/* width: 100; */
}
.imgRick{
	width: 44%;
	height: 57%;
	float: left;
	margin-top: 5%;
	/* position: absolute; */

}
.imgNegan{
	float: right;
	width: 44%;
		height: 57%;
		margin-top: 5%;
	/* position: absolute; */

}
.imgZombieRoto{
	/* float: right; */
	margin-left: 9%;
	height: 35%;
	width: 25%;
	position: absolute;
	opacity: 0;
}
.imgSangre{
	position: absolute;
	float: left;
	height: 60%;
	width: 80%;
	margin-left: 6%;
	margin-top: 14%;
	opacity: 0;
}

.countdown__timer {
	text-align: center;
	margin-bottom: 30px;
	position: relative;
	width: 80%;
	float: right;
	margin-right: 10%;
}

.countdown__item {
	display: inline-block;
	margin-right: 80px;
	margin-bottom: 30px;
}
.countdown__item span {
	font-size: 400%;
	font-family: "Rajdhani", sans-serif;
	font-weight: 700;
	color: #ffffff;
	display: block;
	line-height: 100%;
}

.countdown__item p {
	color: #ffffff;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.countdown__text {
	margin-top: 1%;
	text-align: center;
	margin-bottom: 36px;
}

.countdown__text h1 {
	font-size: 90px;
	color: #ffffff;
	font-family: "Rockville Solid Regular";
	color: #ffffff;
	margin-bottom: 25px;
}

.countdown__text h4 {
	font-size: 26px;
	font-family: "Now Regular";
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.ftco-animate {
	opacity: 0;
	visibility: hidden; 
}

.formulario {
	width: 80%;
	height: 100vh;
	margin-top: 5%;
}
.formulario form{
	margin-left: 15%;
}